localhost,
192.168.50.2:80,
192.168.50.2:8000 {
	handle_path /* {
		reverse_proxy hp-flame:5005
	}

	handle_path /download/certs/* {
		root * /var/www/public/certs
		@crt path *.crt
		header @crt Content-Disposition attachment
		file_server browse
	}
}

portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy hp-flame:5005 {
			header_up Host portal.tech
		}
	}
}

plex.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy http://192.168.50.2:32400 {
			header_up Host plex.portal.tech
		}
	}
}

prowlarr.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy http://192.168.50.2:9696
	}
}

sonarr.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy http://192.168.50.2:8989
	}
}

radarr.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy http://192.168.50.2:7878
	}
}

torrent.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy http://192.168.50.2:8080
	}
}

dns.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy hp-pihole:80
	}
}

budget.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy hp-actual-server:5006
	}
}

time.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy hp-solidtime-app:8000 {
			header_up Host time.portal.tech
		}
	}
}

auth.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy hp-authentik-server:9000
	}
}