{
	acme_ca https://acme.zerossl.com/v2/DV90
	email evanlabuschagne70@gmail.com
}

portal.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy hp-flame:5005 {
			header_up Host portal.labuschagne.xyz
		}
	}
}

plex.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy http://192.168.50.2:32400 {
			header_up Host plex.labuschagne.xyz
		}
	}
}

jelly.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy http://192.168.50.2:8096 {
			header_up Host jelly.labuschagne.xyz
		}
	}
}

prowlarr.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy http://192.168.50.2:9696 {
			header_up Host prowlarr.labuschagne.xyz
		}
	}
}

sonarr.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy http://192.168.50.2:8989 {
			header_up Host sonarr.labuschagne.xyz
		}
	}
}

radarr.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy http://192.168.50.2:7878 {
			header_up Host radarr.labuschagne.xyz
		}
	}
}

torrent.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy http://192.168.50.2:8080 {
			header_up Host torrent.labuschagne.xyz
		}
	}
}

budget.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy hp-actual-server:5006 {
			header_up Host budget.labuschagne.xyz
		}
	}
}

time.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy hp-solidtime-app:8000 {
			header_up Host time.labuschagne.xyz
		}
	}
}

images.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy hp-immich-server:2283 {
			header_up Host images.labuschagne.xyz
		}
	}
}

pgadmin.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy hp-pgadmin:80 {
			header_up Host pgadmin.labuschagne.xyz
		}
	}
}

manage.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy hp-yacht:8000 {
			header_up Host manage.labuschagne.xyz
		}
	}
}

auth.labuschagne.xyz {
	handle_path /* {
		reverse_proxy hp-authentik-server:9000
	}
}

ntfy.labuschagne.xyz {
	handle_path /* {
		reverse_proxy hp-ntfy:80
	}
}

dns.labuschagne.xyz {
	handle_path /* {
		reverse_proxy hp-pihole:80
	}
}
