blog.example.com,
portal.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy hp-flame:5005 {
			header_up Host portal.labuschagne.xyz
		}
	}
}

blog.example.com,
plex.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy http://192.168.50.2:32400 {
			header_up Host plex.labuschagne.xyz
		}
	}
}

blog.example.com,
jelly.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy http://192.168.50.2:8096 {
			header_up Host jelly.labuschagne.xyz
		}
	}
}

blog.example.com,
prowlarr.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy http://192.168.50.2:9696 {
			header_up Host prowlarr.labuschagne.xyz
		}
	}
}

blog.example.com,
sonarr.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy http://192.168.50.2:8989 {
			header_up Host sonarr.labuschagne.xyz
		}
	}
}

blog.example.com,
radarr.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy http://192.168.50.2:7878 {
			header_up Host radarr.labuschagne.xyz
		}
	}
}

blog.example.com,
torrent.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy http://192.168.50.2:8080 {
			header_up Host torrent.labuschagne.xyz
		}
	}
}

blog.example.com,
budget.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy hp-actual-server:5006 {
			header_up Host budget.labuschagne.xyz
		}
	}
}

blog.example.com,
time.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy hp-solidtime-app:8000 {
			header_up Host time.labuschagne.xyz
		}
	}
}

blog.example.com,
images.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy hp-immich-server:2283 {
			header_up Host images.labuschagne.xyz
		}
	}
}

blog.example.com,
pgadmin.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy hp-pgadmin:80 {
			header_up Host pgadmin.labuschagne.xyz
		}
	}
}

blog.example.com,
manage.labuschagne.xyz {
	forward_auth hp-authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		trusted_proxies private_ranges
	}

	handle_path /* {
		reverse_proxy hp-yacht:8000 {
			header_up Host manage.labuschagne.xyz
		}
	}
}

blog.example.com,
auth.labuschagne.xyz {
	handle_path /* {
		reverse_proxy hp-authentik-server:9000
	}
}

blog.example.com,
ntfy.labuschagne.xyz {
	handle_path /* {
		reverse_proxy hp-ntfy:80
	}
}

blog.example.com,
dns.labuschagne.xyz {
	handle_path /* {
		reverse_proxy hp-pihole:80
	}
}
