localhost,
192.168.50.154:80,
192.168.50.154:8000,
192.168.50.2:80,
192.168.50.2:8000 {
	handle_path /* {
		reverse_proxy hp-flame:5005
	}

	handle_path /download/certs/* {
		root * /var/www/public/certs
		@crt path *.crt
		header @crt Content-Disposition attachment
		file_server browse
	}
}

portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy hp-flame:5005
	}

	handle_path /apis/spotify/* {
		reverse_proxy hp-your-spotify-server:8080
	}
}

plex.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy http://192.168.50.2:32400
	}
}

prowlarr.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy http://192.168.50.2:9696
	}
}

sonarr.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy http://192.168.50.2:8989
	}
}

radarr.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy http://192.168.50.2:7878
	}
}

torrent.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy http://192.168.50.2:8080
	}
}

dns.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy hp-pihole:80
	}
}

images.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy hp-immich-server:2283
	}
}

draw.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy hp-excalidraw:80
	}
}

spotify.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy hp-your-spotify-client:3000
	}

	handle_path /apis/spotify/* {
		reverse_proxy hp-your-spotify-server:8080
	}
}

budget.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy hp-actual-server:5006
	}
}

manage.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy hp-yacht:8000
	}
}

pgadmin.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy hp-pgadmin:80
	}
}

shopping.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy hp-shopping-app:80
	}

	handle_path /admin/* {
		reverse_proxy hp-shopping-admin:80
		rewrite * /admin{uri}
	}

	handle_path /docs/* {
		root * /var/www/html/shopping/docs
		file_server
	}

	handle_path /static/* {
		root * /var/www/html/shopping/static
		file_server
	}
}

time.portal.tech {
	tls /etc/caddy/certs/homeportal.pem /etc/caddy/certs/homeportal.key.pem

	handle_path /* {
		reverse_proxy hp-solidtime-app:8000
	}
}